*.o
*.crf
*.d
*.axf
*.iex
*.dep
*.htm
*.lnp
*.map
*.log
*.build_log.htm
*.bak
*.scvd
*.dbgconf

Objects/
Listings/
RTE/

*.uvgui.*
*.uvguix.*
*.uvoptx
.mxproject
.vscode/
*.lock
*.json

*.sct
*.icf

*.txt
